<!DOCTYPE html>
<html lang="pt_BR">
    <head>
		{{template "cabecalho.html".}}
    </head>
    <body>
   		{{template "menu.html".}}
    		
    <!--Profile container-->
    <div class="container profile">
      <div class="span5">
        <h1>DivineLAB</h1>
        <h3>saúde, bem-estar e qualidade de vida.</h3>

        <h2>Olá, Seja Bem Vindo ! </h2>

        <p> SOBRE A EMPRESA: A DivineLAB nasceu com DNA de oferecer ao mercado soluções extremamente confiáveis no
            segmento de nutracêuticos, por meio de produtos e serviços que promovam a saúde, bem 
            estar e qualidade de vida. Atuando de forma global, foi possível buscar parcerias e consolidar 
            seu know how para lançar produtos com fórmulas e matérias-primas consolidadas em todo 
            mundo, tornando seus produtos eficazes com resultados reais para o consumidor.
        </p>

        <h4 style="color: #39D084;">
            {{.flash.success}}
        </h4>
       </div>
      	
      	<div class="span3"> <img src="/public/img/doutor.png" class="img"> </div>
    </div>
    <!--END: Profile container-->

    {{template "modal.html".}}
    {{template "rodape.html".}}

    </body>
</html>
