<!DOCTYPE html>
<html lang="pt_BR">
    <head>
		{{template "cabecalho.html".}}
    </head>
    <body>
		{{template "menu.html".}}
    
    <!--Profile container-->
    <div class="container profile">
	       	<h1 style="text-align: center;">DivineLAB</h1>
			
			<div class="span4">
				<h3 style="color: #39D084;"2>QUALIDADE</h3>
				<p>
					A DivineLAB atua com qualidade em todos os níveis de seu negócio e cobra de seus fornecedores 
					investimentos constantes em infraestrutura, capacitação profissional, pesquisa e desenvolvimento. 
					Agindo dessa forma, acredita que é possível buscar a excelência e colocar no mercado produtos e serviços de alta qualidade. 
				</p>
			</div>
			<div class="span4">
		        <h3 style="color: #39D084;">BOAS PRÁTICAS DE FABRICAÇÃO</h3>
				<p style="text-align: left;">
					Segundo a Organização Mundial da Saúde, o direito do consumidor quanto à sua saúde é um dos direitos humanos básicos. 
					A ANVISA, através de legislação e fiscalização, tem o dever de garantir ao consumidor o direito a produtos e serviços 
					com boa qualidade sanitária.
				</p>
			</div>
			<div class="span8">
				<img src="/public/img/qualidade.jpg" class="img">
			</div>
			<div class="span8">
				<p style="text-align: left;">	
					A DivineLAB atua com o mais rigoroso controle de qualidade e audita seus fornecedores cobrando produções que 
					sigam as Boas Práticas de Fabricação que é a garantia de excelência em seus produtos.
					As Boas Práticas de Fabricação (BPF) abrangem um conjunto de medidas que devem ser adotadas pelas indústrias de alimentos
					a fim de garantir a qualidade sanitária e a conformidade dos produtos alimentícios com os regulamentos técnicos.
				</p>
			</div>
    </div>
    <!--END: Profile container-->
    
    {{template "modal.html".}}
    {{template "rodape.html".}}

    </body>
</html>
