<!DOCTYPE html>
<html lang="pt_BR">

	<head>
		{{template "cabecalho.html".}}
    </head>
    
	<body>
	{{template "menu.html".}}

    <!--Profile container-->
    <div class="container profile">
	       	<h1 style="text-align: center;">DivineLAB</h1>

			<div class="span4">
		        <h2>MISSÃO</h2>
				<p style="text-align: left;">Oferecer ao mercado saúde, bem-estar e qualidade de vida por meio de produtos e serviços de alto valor agregado que gere resultados reais para o público 
				e atendam as expectativas de nossos clientes e todos parceiros de negócio, com ética e responsabilidade socioambiental.</p>
			</div>
			
			<div class="span4">
				<img src="/public/img/global.jpg" class="img">
			</div>
			<div class="span4">
		        <h2>VISÃO</h2>
				<p style="text-align: left;">Ser a empresa mais reconhecida no segmento de nutracêuticos que promove as melhores e mais eficazes soluções ao consumidor e demais parceiros de negócios.</p>
			</div>
			
			<div class="span4">
		        <h2>VALORES</h2>
				<p style="text-align: right;">
					<img src="/public/img/tick.png">Excelência com Inovação<br/>
					<img src="/public/img/tick.png">Transparência e Respeito<br/>
					<img src="/public/img/tick.png">Responsabilidade Socioambiental<br/>
					<img src="/public/img/tick.png">Ética e Integridade<br/>
					<img src="/public/img/tick.png">Sustentabilidade<br/>
				</p>
	       </div>
    </div>
    <!--END: Profile container-->

    {{template "modal.html".}}
    {{template "rodape.html".}}

	</body>
</html>
