<div class="navbar">
   	<div class="navbar-inner">
      	<div class="container"> 
      			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> 
      				<span class="icon-bar"></span> 
      				<span class="icon-bar"></span> 
      				<span class="icon-bar"></span> 
      			</a> 
    	  
   			<a class="brand" href="index.html" style="margin-left: -120px;"><img src="/public/img/logo2.png"/></a>
   			<ul class="nav nav-collapse pull-right">
	           <li style="margin: 18px 10px;"><a href="/" class="active"><i class="icon-user"></i> A Empresa</a></li>
	           <li style="margin: 18px 10px;"><a href="/valores"><i class="icon-trophy"></i>Valores</a></li>
	           <li style="margin: 18px 10px;"><a href="/produtos"><i class="icon-picture"></i>Produtos</a></li>
        	</ul>
			<!-- Everything you want hidden at 940px or less, place within here -->
   			<div class="nav-collapse collapse">
        			<!-- .nav, .navbar-search, .navbar-form, etc -->
   			</div>
  		</div>
	</div>
</div>