<!-- Contact form in Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal"
			aria-hidden="true">×</button>
		<h3 id="myModalLabel">
			<i class="icon-mail"></i> Fale Conosco
		</h3>
	</div>
	<div class="modal-body">
		<form>
			<input type="text" placeholder="nome completo"> 
			<input type="text" placeholder="email para contato">
			<textarea rows="3" style="width: 80%"></textarea>
			<br />
			<button type="submit" class="btn btn-large">
				<i class="icon-paper-plane"></i> ENVIAR
			</button>
		</form>
	</div>
</div>