<!-- Footer -->
<div class="footer">
	<div class="container">
		<p class="pull-left" style="margin-top: 5%;">
			<a href="/">www.divinelab.com.br</a>
		</p>
		<div class="row social"
			style="float: left; width: 500px; padding-bottom: 0px; margin-left: 5%">
			<ul class="social-icons">
				<li><a href="#" target="_blank"><img src="/public/img/fb.png" alt="facebook"></a></li>
				<li><a href="#" target="_blank"><img src="/public/img/tw.png" alt="twitter"></a></li>
				<li><a href="#" target="_blank"><img src="/public/img/go.png" alt="google plus"></a></li>
				<li><a href="#" target="_blank"><img src="/public/img/pin.png" alt="pinterest"></a></li>
				<li><a href="#" target="_blank"><img src="/public/img/st.png" alt="stumbleupon"></a></li>
				<li><a href="#" target="_blank"><img src="/public/img/dr.png" alt="dribbble"></a></li>
			</ul>
		</div>
		<p class="pull-right" style="margin-top: 5%;">
			<a href="#myModal" role="button" data-toggle="modal"> <i
				class="icon-mail"></i> CONTATO
			</a>
		</p>
	</div>
</div>

<!-- Scripts -->
<script src="http://code.jquery.com/jquery.js"></script>
<script src="/public/js/bootstrap.min.js"></script>
<script>
    $('#myModal').modal('hidden')
</script>
