<!-- Footer -->
<div class="footer">
	<div class="container">
		<p class="pull-left" style="margin-top: 5%;">
			<a href="/">www.divinelab.com.br</a>
		</p>
		<p class="pull-right" style="margin-top: 5%;">
			<a href="#myModal" role="button" data-toggle="modal"> <i
				class="icon-mail"></i> CONTATO
			</a>
		</p>
	</div>
</div>

<!-- Scripts -->
<script src="http://code.jquery.com/jquery.js"></script>
<script src="/public/js/bootstrap.min.js"></script>
<script>
    $('#myModal').modal('hidden')
</script>
